name: Update Waka time Stats

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5,23 * * *'

jobs:
  update-readme:
    name: Update waka time metrics in README file
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "True"
          SHOW_LOC_CHART: "False"
          LOCALE: "en"
          SHOW_SHORT_INFO: "False"
          SHOW_OS: "False"
          COMMIT_BY_ME: "True"
          SHOW_TIMEZONE: "False"
          COMMIT_MESSAGE: "Update waka time dev metrics"
          SHOW_LANGUAGE_PER_REPO: "False"
